@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
#navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 5em;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 13px 20px 1px rgba(0,0,0, 0.3);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    z-index: 999999;
    font-weight: bold;
}
#navbar .link.active{
    color: #FF9209;
}
#navbar ul{
    min-width: 20%;
    display: flex;
    
}
#navbar ul li{
    margin-right: 1em;
    text-align: center;
}
#navbar a{
    color:#447bfc;
    text-align: center;
    border: 1px;
    font-size: 1.2em;
}
#navbar a:hover{
    color: #979797;
    transition: .2s;
}

#home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 3em;
    flex-wrap: wrap;
    background-image: url(img/bg1.png);
}
#home img{
    width: 35%;
}
#home .intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#home .intro h4{
    color: #39a7ff;
    font-size: 1.3em;
}
#home .intro h1{
    color: #1e4361;
    font-size: 2em;
}
#home .intro p{
    display: inline;
    color: #979797;
    font-weight: 600;
    line-break: unset;
    font-size: 1.3em;

}
#home .intro a{
    color: #FF9209;
    cursor: pointer;
}
#home .intro a:hover{
    color: rgba(255, 145, 10, .7);
    transition: .2s;
}
#home .intro #email{
    color: white;
    padding: 0px 3cqh;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 90px;
    background-color: #39A7FF;
    cursor: pointer;
}
#home .intro #email:hover{
    border: 1px solid #39A7FF;
    color: #39A7FF;
    background-color: #ffffff;
    transition: .2s;
}
#profile{
    width: 100%;
    height: 50vh;
    background-color: #39A7FF;
}

#project{
    width: 100%;
    padding: 50px;
    background-image: linear-gradient(rgba(56, 165, 255, 0.6) 50%, white 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.kolom img{
    width: 200px;
}
#project .container{
    width: 80vw;
    display: flex;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 12px 20px 1px rgba(0,0,0, 0.3);
}
.kolom{
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#project .dua{    
    border-right: 1px solid rgba(0, 170, 255, .2);
    border-left: 1px solid rgba(0, 170, 255, .2);
}
.kolom h1{
    margin: 40px 0;
    color: #979797;
}
.kolom ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kolom li{
    line-height: 1.8em;
    width: 60%;
    margin: 0 0 20px 0;
    color: #447bfc;
}
.kolom ul #center{
    padding: 20px 0;
    border-top: 1px solid rgba(0, 170, 255, .2);
    border-bottom: 1px solid rgba(0, 170, 255, .2);    
}
ul .harga{
    font-weight: bold;
    transform: scale(1.9);
}
.kolom a{
    color: white;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: #39A7FF;
    cursor: pointer;
    margin: 20px 0;
}
.kolom a:hover{
    border: 1px solid #39A7FF;
    color: #39A7FF;
    background-color: #F0F0F0;
    transition: .2s;
}

#profile .container{
    width: 100%;
    height: 100%;
    padding: 0 10em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile .container p{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.4em;
}
#profile .container h4{
    color: #9dddfd;
    font-size: 2em;
    margin-bottom: 2em;
    /* margin-bottom: 0.5em;
    font-weight: bold;
    word-spacing: 0.1em;
    font-size: 1.3em; */
}
#footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer box-icon{
    margin: 0 20em;
}
#footer a{
    text-align: center;
    color: #979797;
}

@media (max-width:900px) {
    #profile{
        /* height: 49vh; */
        height: 30%;
    }
    #profile .container{
        padding: 0 3em;
    }
    #profile .container p{
        color: #FFFFFF;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    #profile .container h4{  
        margin-bottom: 1em;
        font-size:2em;
    }
    #project{
        height:min-content;
        padding: 30px 15%;

    }
    #project .container{
        flex-wrap: wrap;
        width: 100%;
    }
    #project .kolom{
        margin: 20px 0;
        flex: 100%;
        border: 0;
    }
    #project .dua{
        border-bottom: 1px solid rgba(0, 170, 255, .2);    
        border-top: 1px solid rgba(0, 170, 255, .2);    

    }
    #navbar{
        flex-direction: column;     
        height: 7em;
    }
    #navbar a:visited{
        color: #447bfc;
        transition: .2s;
    }
    #navbar a.active{
        color: #979797;
        transition: .2s;
    }
    #navbar .logo{
        font-size: 1.4em;
    }
    #navbar ul{
        width: 100%;
        margin: 0;
        justify-content: space-around;
        align-items: center;
    }
    #navbar ul li{
        margin-right: 0;
        font-size: 0.9em;
    }
    #home{
        height: min-content;
        flex: 100%;
        flex-direction: column-reverse;
    }
    #home .intro{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 3em 0;
        width: 100%;
        padding: 0 10px;
    }
    #home .intro h1{
        font-size: 1.5em;
    }
    #home .intro p{
        text-align: center;
        line-break:loose;
    }
    #home .intro #email{
        line-height: 2.5em;
        margin-top: .5em;
        padding: 1px 20px;
        border-radius: 90px;
    }
    #home img{
        margin-top: 5em;
        min-width: 350px;
    }
    #footer box-icon{
        margin: 0 5em;
    }

}
@media (max-width:380px) {
    #profile .container p{
        font-size:.9em;
    }
    #profile .container h4{
        margin-bottom: 1.4em;
    }
    #navbar a:visited{
        color: #447bfc;
        transition: .2s;
    }
    #navbar a.active{
        color: #979797;
    }
    #project{
        padding: 20px 10%;
    }
    .kolom img{
        width: 150px;
    }
    .kolom h1{
        margin: 20px 0;
        font-size: 1.5em;
    }
    .kolom li{
        font-size: 0.6em;
    }
    ul .harga{
        font-weight: bold;
        font-size: 0.8em;
    }
    .kolom a{
        padding: 5px 15px;
    }
    #project .kolom{
        margin: 5px 0;
    }
    #home img{
        margin-top: 10em;
        min-width: 200px;
    }
    #footer box-icon{
        margin: 0 2em;
    }
}
