*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu{
    width: 30px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #F56EB3;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
}
.col-1 {
    margin-left: 50px;
    position: relative;
    flex-basis: 40%;
}
.col-1 h2{
    font-size: 52px;
}
.col-1 h3{
    font-size: 26px;
    font-weight: 100;
    color: #707070;
    margin: 20px 0 10px;
}
.col-1 p {
    font-size: 14px;
    color: #7b7b7b;
}
.col-1 h4{
    font-size: 16px;
    margin: 20px 0;
}
.col-1 button{
    width: 140px;
    border: 0;
    background: linear-gradient(to right,#F94892,#FFA1C9);
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: width .5s;
}
.col-1 button:hover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}
.col-1 button:hover img{
    display: block;
}
.col-1 button img{
    width: 30px;
    display: none;
}
.col-1::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 57%;
    background: linear-gradient(#D14D72,#FFABAB);
    top: 8px;
    left: -40px;
}
.col-2{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    position: relative;
}
.col-2 .controller{
    width: 90%;
}
.col-2 .cart{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px 0 0 20px;
    width: 80%;
    height: 100%;
    background: linear-gradient(#D14D72,#F56EB3);
    z-index: -2;
    transform: translateX(130px);
}
.add-cart{
    cursor: pointer;
    text-align: center;
}
.add-cart img{
    width: 35px;
    margin-bottom: 5px;
}
.add-cart p{
    font-size: 12px;
    color: #fff;
}
.footer img{
    margin: 20px;
    cursor: pointer;
    height: 13px;
}
.footer{
    margin-top: -50px;
    text-align: center;
}

@media (max-width:700px) {
    .menu{
        display: block;
    }
    nav ul{
        width: 100%;    
        background: linear-gradient(#D14D72,#F56EB3);
        position: absolute;
        top: 75px;
        left: 0;
    }
    nav ul li{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav ul li a{
        color: #fff;
    }
    .row {
        flex-direction: column-reverse;
    }
    .col-2{
        margin-top: 25px;
        flex-basis: 100%;
    }
    .col-2 .controller{
        width: 75%;
    }
    .col-2 .cart{
        transform: translateX(80px);
    }
    .col-1{
        flex-basis: 100%;
        margin-top: 20px;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
    #menuList{
        transition: .5s;
        overflow: hidden;
    }
}